<h2>Users</h2>

<table style="margin: 20px 0px 0px 0px;" class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions"><%= link_to 'New User', new_admin_user_path, :class => "btn" %></div>
